{{ define "main" }}
  {{ $links := slice
    (dict "icon" "github" "title" "GitHub" "url" "https://github.com/octonato")
    (dict "icon" "bluesky" "title" "Bluesky" "url" "https://bsky.app/profile/renato.cavalcanti.io")
    (dict "icon" "linkedin" "title" "LinkedIn" "url" "https://linkedin.com/in/renatocavalcanti")
    (dict "icon" "email" "title" "Email" "url" "mailto:renato@cavalcanti.io")
  }}

  <article>
    <header id="single_header" class="mt-5 mb-6 max-w-prose flex flex-wrap items-center gap-x-6">
      <h1 class="mt-0 text-4xl font-extrabold text-neutral-900 dark:text-neutral">
        {{ .Title | emojify }}
      </h1>

      <div class="ms-auto flex items-center gap-4 text-2xl">
        {{ range $links }}
          <a
            class="text-neutral-500 hover:text-primary-400 dark:text-neutral-400 dark:hover:text-primary-400"
            href="{{ .url }}"
            title="{{ .title }}"
            aria-label="{{ .title }}"
            {{ if not (hasPrefix .url "mailto:") }}target="_blank" rel="me noopener noreferrer"{{ end }}>
            {{ partial "icon.html" .icon }}
          </a>
        {{ end }}
      </div>
    </header>

    <section class="prose dark:prose-invert">
      <div class="article-content max-w-prose mb-20">
        {{ .Content }}
      </div>
    </section>
  </article>
{{ end }}
